[package]
name = "concoct"
version = "0.6.6"
edition = "2021"
license = "MIT OR Apache-2.0"
description = "Cross-platform UI framework"
repository = "https://github.com/concoct-rs/concoct"

[workspace]
members = [
    ".",
    "examples/counter",
    "examples/todomvc",
]

[features]
web = ["dep:wasm-bindgen", "dep:web-sys"]
native = [
    "dep:gl",
    "dep:glutin",
    "dep:glutin-winit",
    "dep:raw-window-handle",
    "dep:slotmap",
    "dep:winit",
    "dep:taffy",
    "dep:tokio",
    "dep:skia-safe",
    "dep:accesskit"
]
full = ["web", "native"]
default = []

[dependencies]
impl-trait-for-tuples = "0.2.2"
wasm-bindgen = { version = "0.2.87", optional = true }
tokio = { version = "1.29.1", features = ["full"], optional = true }
accesskit = { version = "0.11.1", optional = true }
gl = { version = "0.14.0", optional = true }
glutin = { version = "0.30.9", optional = true }
glutin-winit = { version = "0.3.0", optional = true }
raw-window-handle = { version = "0.5.2", optional = true }
skia-safe = { version = "0.64.0", features = ["gl"], optional = true }
slotmap = { version = "1.0.6", optional = true }
taffy = { version = "0.3.12", optional = true }
winit = { version = "0.28.6", optional = true }

[dependencies.web-sys]
version = "0.3.64"
optional = true
features = [
    "Event",
    "EventTarget",
    "KeyboardEvent",
    "Node",
    "Document",
    "HtmlCollection",
    "HtmlElement",
    "HtmlInputElement",
    "Window",
    "Text"
]

[package.metadata.docs.rs]
rustdoc-args = ["--cfg", "docsrs"]

[[example]]
name = "native"
required-features = ["native"]
